@{
    Layout = "_Layout";
}
@model PizzaLink

<div class="container">
    <div class="card my-5">
        <div class="card-header">
            <h1>Modifica Pizza</h1>
        </div>
        <div class="card-body">
            <form asp-controller="Pizza" asp-action="Edit" asp-route-id="@Model.Pizza.Id" method="post">
                @Html.AntiForgeryToken()

                <div class="form-group mb-3">
                    <label for="Name">Nome Pizza *</label>
                    <input asp-for="Pizza.Name" type="text" class="form-control">
                    <span asp-validation-for="Pizza.Name" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label for="Price">Prezzo Pizza *</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">€</span>
                        <input asp-for="Pizza.Price" type="text" class="form-control">
                        <span class="input-group-text">.00</span>
                    </div>
                    <span asp-validation-for="Pizza.Price" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label for="Description">Descrizione Pizza *</label>
                    <textarea asp-for="Pizza.Description" class="form-control" rows="10"></textarea>
                    <span asp-validation-for="Pizza.Description" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label for="Image" class="form-label">Immagine Pizza</label>
                    <input asp-for="Pizza.Image" type="text" class="form-control">
                    <span asp-validation-for="Pizza.Image" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label for="Pizza.CategoryId" class="form-label">Categoria Pizza</label>
                    <select asp-for="Pizza.CategoryId" rows="10" class="form-control">
                        @foreach (Category category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Pizza.CategoryId" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label for="Pizza.Ingredients" class="form-label">Ingredienti Pizza</label>
                    <select multiple="multiple" asp-for="SelectedIngredients" size="10" class="form-control mb-2 mr-sm-2 ml-sm-3 leftList">
                        @foreach (Ingredient ingredient in Model.Ingredients)
                        {
                            <option value="@ingredient.Id">@ingredient.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Pizza.Ingredients" class="text-danger"></span>
                </div>

                <div>
                    <p>* Questi campi sono obbligatori</p>
                </div>

                <button type="submit" class="btn btn-outline-success">Modifica</button>
            </form>
        </div>
    </div>
</div>